
  <body>
    <section class="form-login">
        <h5>Recuperar Clave</h5>
        <form [formGroup]="fgValidador" (ngSubmit)="RecuperarClave()">

            <input formControlName="correo" type="email" id="email" class="validate" placeholder="Usuario o Correo">

            <div class="row center-align">
                <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light" type="submit"
                    name="action">Recuperar Clave
                    <i class="material-icons right">send</i>
                </button>
            </div> 
        </form>
    </section>