<div class="row">
    <h3 class="center-align">Crear Cliente</h3>
    <article class="col s6 offset-s3">
        <form [formGroup]="fgValidador" (ngSubmit)="GuardarCliente()" method="POST" action="formulario-contacto.php">
            <div class="input-field">
                <label for="nombres">Nombres</label>
                <input formControlName="nombres" type="text" name="nombres" required>
            </div>

            <div class="input-field">
                <label for="apellidos">Apellidos</label>
                <input formControlName="apellidos" type="text" name="apellidos" required>
            </div>

            <div class="input-field">
                <label for="correo">Correo</label>
                <input formControlName="correo" type="text" name="correo" required>
            </div>

            <div class="input-field">
                <label for="celular">Celular</label>
                <input formControlName="celular" type="text" name="celular" required>
            </div>
            <div class="input-field">
                <label for="rol">Rol</label>
                <input formControlName="rol" type="text" name="rol" required>
            </div>

            <p class="center-align">
                <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn" type="submit"><i
                        class="material-icons right">send</i>Enviar</button>
            </p>

        </form>

    </article>
</div>