<nav>
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-clientes">Clientes</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-libros">Libros</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/seguridad/recuperarClave">Recuperar Clave</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
      <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-clientes">Personas</a></li>
  <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-libros">Libros</a></li>
  <li *ngIf="seInicioSesion"><a routerLink="/seguridad/recuperarClave">Recuperar Clave</a></li>
  <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
  <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
</ul>